@font-face {
    font-family: "got";
    src: url(../font/gameofthrones.ttf) format("truetype");
}

@font-face {
    font-family: "retro";
    src: url(../font/retro.ttf) format("truetype");
}

.game {
  max-width: 750px;
  margin: 0 auto;
  height: 320px;
  font-size: 24px;
  font-family: monospace;
}

.gameButton {
  background-color: black;
  color: white;
  font-family: "got";
  font-size: 50px;
  margin: 20px auto;
}

.gameButton:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

body {
	background: url("../images/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
  font-family: "got";
  font-size: 70px;
  color: black;
  margin: 30px auto;
}

.row {
  margin: 10px auto;
}

#question {
  font-size: 24px;
}

#timer {
  font-size: 36px;
  color: black;
  font-weight: bold;
  font-family: "got";
}

.choice {
  background-color: black;
  color: white;
  font-size: 24px;
  font-family: monospace;
  width: 400px;
  margin: 10px auto;
  border-radius: 5px;
}

#answer {
  width: 400px;
  margin: 10px auto;
  text-align: center;
}

.image {
  max-width: 400px;
}

.choice:hover {
  color: black;
  background-color: white;
  border: 3px solid black;
}
