@font-face {
    font-family: "Nickelodeon";
    src: url(../font/nickelodeon.ttf) format("truetype");
}

@font-face {
    font-family: "retro";
    src: url(../font/retro.ttf) format("truetype");
}

.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: white;
}

.game {
  max-width: 750px;
  margin: 0 auto;
  height: 400px;
  font-size: 24px;
  font-family: monospace;
}

.gameButton {
  background-color: blue;
  color: #ff5dce;
  font-family: "retro";
  font-size: 50px;
}

.gameButton:hover {
  text-decoration: none;
  background-color: #ff5dce;
  color: blue;
}

body {
	background: url("../images/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
  font-family: "retro";
  font-size: 70px;
  color: blue;
  margin: 30px auto;
}

.row {
  margin: 10px auto;
}

#question {
  font-size: 24px;
}

#timer {
  font-size: 16px;
  color: orange;
}

.nick {
  font-family: "Nickelodeon";
  font-size: 60px;
  color: orange;
}

.choice {
  background-color: #ff5dce;
  color: blue;
  font-size: 24px;
  font-family: monospace;
  width: 400px;
  margin: 10px auto;
}

#answer {
  width: 400px;
  margin: 10px auto;
  text-align: center;
}

.image {
  max-width: 300px;
}

.choice:hover {
  color: #ff5dce;
  background-color: blue;
  border: 3px solid #ff5dce;
}
